<div class="container mt-3 d-flex flex-column justify-content-center align-items-center">
  <% if @groups.empty? %>
    <h3 class="mt-5">You haven’t created or joined any groups yet... </h3>
  <% end %>
  <% button_value = @groups.empty? ? "Create your first group!" : "New group" %>
  <% first_group_button = @groups.empty? ? "pt-4 pb-4 mt-5" : "" %>

  <button class="btn-welcome <%= first_group_button %> mb-3" type="button" data-bs-toggle="collapse" data-bs-target="#newGroup" aria-expanded="false" aria-controls="newGroup">
    <%= button_value %>
  </button>
  <div class="collapse" id="newGroup">
    <%= simple_form_for @group do |f| %>
    <%= f.input :name, label: false, error: 'Your name was too long, max 15 character', placeholder: "Name the group!", input_html: { class: 'searchbar' } %>
    <%= f.button :submit, "OK", class: 'btn-regular w-100 mb-3' %>
    <% end %>
  </div>
</div>

  <div class="cards-ind-dashboard">
    <div class="cards-grid">
      <% @groups.each do |member| %><!--New logic for proper display of only 'Accepted' groups-->
        <div class="card-groups text-center">
          <%= link_to group_path(member.group.id) do %>
            <div class= "color-band"></div>
            <div class="card-group-wrapper">
              <div class="card-group-info-pic">
                <%=image_tag("leaf#{(1..8).to_a.sample}.png")%>
              </div>
              <div class="card-group-infos">
                <h3><%= member.group.name %></h3>
                <p><strong><%= pluralize(member.group.memberships.where(status: "Accepted").count, "member") %></strong></p>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>


<!--Display Pending Invitations -- moved here to remove from 'Challnges' tab-->

  <div class="group-card-container">
    <% if @pending_invitations.count > 0 %>
      <h3 class="text-center mt-2">Pending Invitations</h3><!--display only if pending inv exist-->
    <% end %>
    <div class="cards-grid">
      <% @pending_invitations.each do |member| %>
        <div class="card-groups text-center" style= "height:auto;">
          <%= link_to group_path(member.group.id) do %>
            <div class= "color-band"></div>
              <div class="card-group-wrapper">
                <div class="card-group-info-pic">
                  <%=image_tag("leaf#{(1..8).to_a.sample}.png")%>
                  <!--<img class="avatar-large" alt="avatar" src="../../assets/images/leaf.png" />-->
                </div>
                <div class="card-group-infos">
                  <h3><%= member.group.name %></h3>
                  <p><strong><%= pluralize(member.group.memberships.where(status: "Accepted").count, "member") %></strong></p>
                </div>
              </div>
          <% end %>
          <div class="card-challenge-buttons mb-3">
            <!--<a class="btn-regular">Accept</a>-->
            <%#= link_to "Decline", group_path(member.group.id),
              method: :delete,
              data: { confirm: "Are you sure?" }, class: "btn-regular" %>
            <%= link_to "Accept",
                        update_status_group_membership_path(member.group, member, { membership: { status: 'Accepted' } } ),
                        method: :patch,
                        class: 'btn-regular',
                        remote: true
                        %>
            <%= link_to "Decline",
                        update_status_group_membership_path(member.group, member, { membership: { status: 'Declined' } } ),
                        method: :patch,
                        data: { confirm: "Are you sure?" },
                        class: 'btn-regular',
                        remote: true
                        %>

          </div>
        </div>
      <% end %>
    </div>
  </div>
