<% @user.update_challenge_status! %> <!-- updating the statusses of ongoing challenges -->
<% if @show_rules %>
  <div class="show-rules d-none"><%= @show_rules %></div>
<% end %>
<div class="container">
  <div class="user-dashboard-top">
    <div class="user-info">
      <h1>
        <%= @user.full_name %>
      </h1>
      <h1>
        Score: <%= @user.score %>
      </h1>
    </div>
    <div class="user-avatar">
      <% unless @user.photo.attached? %>
        <% photo = ['avatar1.jpg', 'avatar2.jpg', 'avatar3.jpg', 'avatar4.jpg', 'avatar5.jpg', 'avatar6.jpg'].sample %>
        <% @user.photo.attach(io: File.open("app/assets/images/#{photo}"),
                              filename: photo,
                              content_type: "image/jpg"
                            ) %>
      <% end %>
      <%= cl_image_tag @user.photo.key, class: "avatar-extra-large" %>
      <a href="" id="update_picture_link" data-bs-toggle="modal" data-bs-target="#avatarModal">Update my picture</a>
    </div>
  </div>

  <!--Avatar modal-->
<div class="modal fade" id="avatarModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Upload a picture</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= simple_form_for(current_user) do |f| %>
          <%= f.input :photo, as: :file %>
        <%= f.submit "Update photo", class: "btn btn-success text-center" %>
      <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


  <!-- Avatar model end-->


  <div>
    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link dashboard-tab active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">Groups</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link dashboard-tab" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile"  type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Challenges</button>
      </li>
    </ul>
    <!-- Here comes the content -->
    <div class="tab-content" id="pills-tabContent">
      <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
        <%= render "groups/my_groups", locals: { groups: @groups } %>
      </div>
      <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
        <%= render "challenges/my_challenges", locals: { group_challenges: @group_challenges } %>
      </div>
    </div>
  </div>


</div>
