<% @user.update_challenge_status! %> <!-- updating the statusses of ongoing challenges -->

<div class="container">
  <div class="user-dashboard-top">
    <div class="user-info">
      <h1>
        <%= @user.full_name %>
      </h1>
      <h1>
        Score: <%= @user.score %>
      </h1>
    </div>
    <% if @user.photo.attached? %>
      <%= cl_image_tag @user.photo.key, class: "avatar-extra-large" %>
    <% else %>
      <%= image_tag "empty_account", class: "avatar-extra-large" %>
    <% end %>
  </div>
  <div>
    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link dashboard-tab active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">Groups</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link dashboard-tab" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile"  type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Challenges</button>
      </li>
    </ul>
    <!-- Here comes the content -->
    <div class="tab-content" id="pills-tabContent">
      <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
        <%= render "groups/my_groups", locals: { groups: @groups } %>
      </div>
      <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
        <%= render "challenges/my_challenges", locals: { group_challenges: @group_challenges } %>
      </div>
    </div>
  </div>

  <!--Display Pending Invitations-->
  <% if @pending_invitations.count > 0 %>
    <h3 class="text-center mt-3">Pending Invitations</h3><!--display only if pending inv exist-->
  <% end %>
  <div class="cards-grid">
    <% @pending_invitations.each do |member| %>
      <div class="card-groups text-center" style= "height:auto;">
        <%= link_to group_path(member.group.id) do %>
          <div class= "color-band"></div>
            <div class="card-group-wrapper">
              <div class="card-group-info-pic">
                <%=image_tag("leaf.png")%>
                <!--<img class="avatar-large" alt="avatar" src="../../assets/images/leaf.png" />-->
              </div>
              <div class="card-group-infos">
                <h3><%= member.group.name %></h3>
                <p><strong><%= pluralize(member.group.memberships.where(status: "Accepted").count, "member") %></strong></p>
              </div>
            </div>
        <% end %>
        <div class="card-challenge-buttons mb-3">
          <!--<a class="btn-regular">Accept</a>-->
          <%#= link_to "Decline", group_path(member.group.id),
            method: :delete,
            data: { confirm: "Are you sure?" }, class: "btn-regular" %>
          <%= link_to "Accept",
                      update_status_group_membership_path(member.group, member, { membership: { status: 'Accepted' } } ),
                      method: :patch,
                      class: 'btn-regular',
                      remote: true
                      %>
          <%= link_to "Decline",
                      update_status_group_membership_path(member.group, member, { membership: { status: 'Declined' } } ),
                      method: :patch,
                      data: { confirm: "Are you sure?" },
                      class: 'btn-regular',
                      remote: true
                      %>

        </div>
      </div>
    <% end %>
  </div>
</div>
