<div class="container">
  <div class="user-dashboard-top">
    <div class="user-info">
      <h1>
        <%= @user.full_name %>
      </h1>
      <h1>
        Score: <%= @user.score %>
      </h1>
    </div>
    <% if @user.photo.attached? %>
      <%= cl_image_tag @user.photo.key, class: "avatar-extra-large" %>
    <% else %>
      <%= image_tag "empty_account", class: "avatar-extra-large" %>
    <% end %>
  </div>
  <div>
    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link dashboard-tab active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">Groups</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link dashboard-tab" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile"  type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Challenges</button>
      </li>
    </ul>
    <!-- Here comes the content -->
    <div class="tab-content" id="pills-tabContent">
      <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
        <%= render "groups/my_groups", locals: { groups: @groups } %>
      </div>
      <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
        <%= render "challenges/my_challenges", locals: { challenges: @challenges } %>
      </div>
    </div>
  </div>
</div>
