<div class="landing-page">
  <div class="landing-name">
    <h1>Ecolympians</h1>
  </div>

  <div class="landing-content">
    <div class="landing-scroll">
      <h2>The World is our playground</h2>
      <h2>Let's keep it that way!</h2>
      <a href="#box-1" class="scroll-link" data-controller="scroll-to" data-scroll-to-offset-value="130">
      <h3>Click here to learn more about the Ecolympians!</h3>
      </a>

    </div>

    <div class="landing-box" id="box-1">
      <div class="landing-box-text">
        <h2>Who are the Ecolympians?</h2>
        <p> The Ecolympians are those who seek to protect our planet, our playground,
          while keeping a competitive spirit! The Ecolympians gather their friends and together conquer the challenges to see who is the ultimate Ecolympian!</p>
      </div>
      <div class="scroll-down-icon">
        <a href="#box-2" class="scroll-link" data-controller="scroll-to" data-scroll-to-offset-value="130"><h3>What have we achieved?</h3></a>
      </div>
    </div>

    <div class="landing-box" id="box-2">
      <div class="landing-box-text">
        <h2>What have we achieved?</h2>
        </div>
        <div class="achievement-text">
          <p> <%= icon("fas", "leaf") %> &nbsp; 100t CO2 less emitted</p>
          <p> <%= icon("fas", "tree")  %>  &nbsp; &nbsp; &nbsp; Planted 1500 trees  </p>
          <p> <%= icon("fas", "car-side") %>  &nbsp;  Driven 20.000km less  </p>
          <p> <%= icon("fas", "tint") %> &nbsp; &nbsp; &nbsp; Used 200k liters less water  </p>
          <p> <%= icon("fas", "trash-alt")  %> &nbsp; &nbsp; Picked up 8000 bags of trash </p>
        </div>

      <div class="scroll-down-icon">
        <a href="#box-3" class="scroll-link" data-controller="scroll-to" data-scroll-to-offset-value="130"><h3>Wanna contribute?</h3></a>
      </div>
    </div>
  </div>

  <div class="landing-bottom" id="box-3">
      <h2>Gather your friends</h2>
      <h2>Start playing</h2>
      <h2>And protect our playground!</h2>
  </div>

  <div class="landing-footer">
      <%= link_to "Start playing", new_user_session_path, class: "btn"  %>
  </div>

</div>
