<h1>UI Kit</h1>
<!-- Color Scheme -->
<h2>Colors:</h2>
<div class="d-flex flex-wrap">
  <div id="primary" class="ui-kit-circle"></div>
  <div id="primary-light" class="ui-kit-circle"></div>
  <div id="secondary" class="ui-kit-circle"></div>
  <div id="secondary-light" class="ui-kit-circle"></div>
  <div id="yellow" class="ui-kit-circle"></div>
  <div id="yellow-hover" class="ui-kit-circle"></div>
  <div id="red" class="ui-kit-circle"></div>
  <div id="red-hover" class="ui-kit-circle"></div>
  <div id="blue" class="ui-kit-circle"></div>
  <div id="blue-hover" class="ui-kit-circle"></div>
</div>
<br>
<!-- Components -->
<h2>Basic Components</h2>

<!-- Buttons -->
<h3>Buttons</h3>

<!-- Avatars -->
<h3>Avatars</h3>

<!-- Searchbar -->
<h3>Searchbar</h3>
<input type="text" class="searchbar" placeholder="Search...">
<br>

<!-- Navbar -->
<h3>Navbar</h3>
<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to "#", class: "navbar-brand" do %>
      <h2>Ecolympians <%= icon("fas", "leaf") %></h2>
    <% end %>

    <button class="navbar-toggler navbar-dark" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item active">
            <%= link_to "Home", "#", class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Edit Profile", "#", class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "nav-link" %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<!-- Footer -->
<h3>Footer</h3>
<div class="footer-wrapper">
    <!-- Uncomment these conditionals and correct the paths -->
    <% user_page = "" #current_page?(user_path) ? "active" : "" %>
    <% groups_page = "" #current_page?(user_groups_path) ? "active" : "" %>
    <% challenges_page = "" #current_page?(challenges_path) ? "active" : "" %>
    <%= link_to icon("far", "user"), "#", class: "footer-link #{user_page}" %>
    <%= link_to icon("fas", "users"), "#", class: "footer-link #{groups_page}" %>
    <%= link_to icon("far", "list-alt"), "#", class: "footer-link#{challenges_page}" %>
</div>

<!-- Tabs -->
<h3>Tabs</h3>

<h2>Complex Components</h2>

<!-- Cards -->
<h3>Cards</h3>

<!-- Challenge card -->

<!-- Proof card -->
<div class="proof-card">

</div>


<!-- Group card -->

<!-- Notifications -->
<h3>Notifications</h3>


<!-- Ranking table -->
