<div class="container">
  <h1>Challenge: <%= @group_challenge.challenge.name %></h1>
  <p> <%= @group_challenge.start_date.strftime("%e %B") %> - <%= (@group_challenge.start_date + 7).strftime("%e %B") %></p>
</div>

<div class="proofs-horizontal">
  <% @group_challenges.each do |challenge| %>
    <% if challenge.membership.group == @group_challenge.membership.group && challenge.photo.attached? %>
      <%# <div class="proof-card-container"> %>
        <div class="proof-card">
          <div class="proof-card-top">
            <h3><%= "Proof from #{challenge.membership.user.first_name}" %></h3>
            <div>
              <img class="avatar" alt="avatar" src="https://kitt.lewagon.com/placeholder/users/arthur-littm" />
            </div>
          </div>
            <%= cl_image_tag challenge.photo.key %>
            <div class="proof-card-text">
              <p>
                <%= challenge.comment %>
              </p>
            </div>
            <div class="proof-card-vote">
              <div class="btn-vote-proof-round">
                <span><%= icon("fas", "check") %></span>
              </div>
              <div class="btn-vote-proof-round" id="decline">
                <span><%= icon("fas", "times") %></span>
              </div>
            </div>
        </div>
      <%# </div> %>
      <br>
    <% end %>
  <% end %>
</div>
