<div class="container top-text">
  <% if @group_challenge.status == "finished" %>
    <h3> This challenge has finished! </h3>
  <% else %>
    <h3><%= (@group_challenge.start_date + 14 - Date.today).to_i %> days left for voting! </h3>
    <p> <strong><%= @group_challenge.challenge.name %> </strong> (<%= @group_challenge.start_date.strftime("%e %B") %> - <%= (@group_challenge.start_date + 7).strftime("%e %B") %>)</p>
  <% end %>
</div>

<div class="proofs-horizontal">
  <% @group_challenges.each do |challenge| %>
    <% if challenge.membership.group == @group_challenge.membership.group && challenge.photo.attached? %>
      <%# <div class="proof-card-container"> %>
        <div class="proof-card" data-controller="proof-voting" >
          <div class="proof-card-top">
            <h3><%= "Proof from #{challenge.membership.user.first_name}" %></h3>
            <div>
              <%= cl_image_tag challenge.membership.user.photo.key, class: "avatar" %>
            </div>
          </div>

          <div class="proof-card-img">
            <%= cl_image_tag challenge.photo.key %>
            <% if @group_challenge.status == "finished" %>
              <div class="proof-card-end-votes">
                <div class="proof-card-end-vote green-circle">
                  <span><%= challenge.proof_votes.select{ |proofvote| proofvote.vote == true }.count %></span>
                  <%= icon("far", "thumbs-up") %>
                </div>
                <div class="proof-card-end-vote red-circle">
                  <span><%= challenge.proof_votes.select{ |proofvote| proofvote.vote == false}.count %></span>
                  <%= icon("far", "thumbs-down") %>
                </div>
              </div>
            <% end %>
          </div>

          <div class="proof-card-text">
            <p>
              <%= challenge.comment %>
            </p>
          </div>

          <% if challenge.status == "finished" %>
              <% if (challenge.proof_votes.select{ |proofvote| proofvote.vote == true }.count >= challenge.proof_votes.select{ |proofvote| proofvote.vote == false}.count) %>
                <h4> This proof has been accepted!</h4>
              <% else %>
                <h4> This proof has been rejected!</h4>
              <% end %>

          <% elsif proof_vote = ProofVote.find_by(user: current_user, group_challenge: challenge) %>
            <div class="vote-text"><h4> You have <%= proof_vote.vote ? "approved" : "rejected" %> this!</h4></div>

          <% elsif challenge.membership.user == current_user%>
            <div class="vote-text"><h4> Awaiting votes for your proof!</h4></div>

          <% else %>
            <div class="proof-card-vote" data-proof-voting-target="buttons" >
              <div class="btn-vote-proof-round">
                <span><%= link_to "Approve", group_challenge_proof_votes_path(challenge, vote: true), method: :post, data: { action: "click->proof-voting#showUpVoted"} %></span>
              </div>
              <div class="btn-vote-proof-round" id="decline">
                <span><%= link_to "Reject", group_challenge_proof_votes_path(challenge, vote: false), method: :post, data: { action: "click->proof-voting#showDownVoted"} %></span>
              </div>
            </div>
          <% end %>
        </div>
      <%# </div> %>
      <br>
    <% end %>
  <% end %>
</div>
