

<div data-search-challenges-target="list">
  <div class="challenges-container">
    <% challenges.all.each do |challenge| %>
      <% if challenge.category == "Saving energy" || challenge.category == "Planting tree"%>
        <% color = "card-green" %>
      <% elsif challenge.category == "Food" || challenge.category == "Preventing pollution"%>
        <% color = "card-purple" %>
      <% elsif challenge.category == "Travel" || challenge.category == "Recycle"%>
        <% color = "card-dark" %>
      <% elsif challenge.category == "Reuse items" || challenge.category == "Conserving water"%>
        <% color = "card-blue" %>
      <% elsif challenge.category == "Pick up trash" || challenge.category == "Made homemade art"%>
        <% color = "card-pink" %>
      <% end %>
      <div class="card-challenges <%= color %>">
        <div class="info-challenge">
          <h2><%=challenge.name %></h2>
          <p>Description: <%= challenge.description %></p>
          <p id="category">Type: <%= challenge.category %></p>
        </div>

        <div class="challenge-score">
          <p>Score:<p>
          <p><%= challenge.score %></p>
        </div>

      </div>
    <% end %>

  </div>
</div>
