<!DOCTYPE html>
<html>
  <head>
    <title>Ecolympians</title>
    <meta name="description" content="The Ecolympians are those who seek to protect our planet, our playground,
          while keeping a competitive spirit! The Ecolympians gather their friends and together conquer the challenges to see who is the ultimate Ecolympian!">
    <meta property="og:site_name" content="Ecolympians | The planet is our playground, let's keep it that way!">
    <meta property="og:image" content="">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application.js', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <%= favicon_link_tag asset_path('favicon.png') %>
  </head>

  <body <%= "style=padding-bottom:4rem;" unless current_page?(root_path) || controller.controller_name == 'registrations' %>>
    <% unless current_page?(root_path) || current_page?(new_user_session_path) || current_page?(new_user_registration_path) || current_page?(user_registration_path) || controller.controller_name == 'registrations' %>
      <%= render 'shared/navbar' %>
    <% end %>

    <%#= render 'shared/flashes' %>

    <%= yield %>

    <%= render 'shared/rules' %>

    <% unless current_page?(root_path) || current_page?(new_user_session_path) || current_page?(new_user_registration_path) || current_page?(users_path) || controller.controller_name == 'registrations' %>
      <%= render 'shared/footer' %>
    <% end %>
  </body>
</html>
